<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agenda Telefônica</title>
    <!-- Vuetify CSS -->
    <!-- Vuetify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.16/dist/vuetify.min.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.16/dist/vuetify.min.js"></script>

<div id="app">
    <v-app>
        <v-container
                class="d-flex align-center justify-center"
                style="height: 100vh;"
        >
            <v-sheet height="600" :width="800">
                <v-toolbar color="white">
                    <v-toolbar-title>
                        <div>
                            <div>Lista de Contatos</div>
                            <div style="opacity: 0.7;">Adicionar, editar ou excluir contatos</div>
                        </div>
                    </v-toolbar-title>
                    <v-btn icon @click="criarContato">
                        <v-icon>mdi-account-plus-outline</v-icon>
                    </v-btn>
                </v-toolbar>

                <v-divider class="border-opacity-100"></v-divider>

                <! -- Lista de contatos -->
                <v-data-table
                        :headers="headers"
                        :items="items"
                        class="elevation-1"
                >
                    <!-- Slot para a coluna 'actions' -->
                    <template v-slot:item.actions="{ item }">
                        <v-btn style="margin: 8px" icon size="small" @click="editar(item)">
                            <v-icon>mdi-account-edit-outline</v-icon>
                        </v-btn>
                        <v-btn icon color="error" size="small" @click="excluir(item)">
                            <v-icon>mdi-delete-outline</v-icon>
                        </v-btn>
                    </template>
                </v-data-table>

                <v-dialog v-model="dialog" max-width="500">
                    <v-card>
                        <v-card-title>{{ titleModal }}</v-card-title>
                        <v-form v-model="formOk" ref="form" @submit.prevent="submitForm">
                            <v-text-field
                                    :rules="[validaNome]"
                                    label="Nome" placeholder="Ex: João Silva"
                                    required
                                    v-model="contato.nome"></v-text-field>
                            <v-text-field
                                    :rules="[v => !!v || 'Número é obrigatório',
                                             v => v.length >= 8 || 'Número deve ter pelo menos 8 dígitos']"
                                           label="Número" required
                                           @input="regexTelephone"
                                           v-model="contato.numero_contato"></v-text-field>
                            </v-text-field>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn :disabled="!formOk" text type="submit">{{button}}</v-btn>
                                <v-btn text @click="reset()">Cancelar</v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>
            </v-sheet>
        </v-container>
    </v-app>
</div>

<script>
    const { createApp, ref, onMounted, reactive } = Vue
    const { createVuetify } = Vuetify
    const { useVuelidate } = Vuelidate
    const { required } = VuelidateValidators

    const vuetify = createVuetify()

    createApp({
        setup() {

            /* CONSTRUÇÃO DA LISTA */
            const headers = ref([
                { title: 'Nome', key: 'nome' },
                { title: 'Telefone', key: 'numero_contato', sortable: false },
                { key: 'actions', sortable: false } // coluna extra
            ])

            const items = ref([])

            async function carregarContatos() {
                const res = await fetch("http://localhost:3000/contatos")
                items.value = await res.json()
                console.log(items.value);
            }



            const dialog = ref(false)
            const form = ref(false)
            const titleModal = ref('');
            const button = ref('')
            const contato = reactive({
                id: null,
                nome: '',
                numero_contato: ''
            })

            function reset() {
                form.value.reset()
                dialog.value = false
            }

          function criarContato() {
                titleModal.value = 'Adicionar Contato'
                button.value = 'Adicionar'
                dialog.value = true;
            }

            function validaNome(v) {
                if (!v) return 'Nome é obrigatório'
                const partes = v.trim().split(' ')
                if (partes.length < 2) return 'Nome deve conter ao menos 2 palavras'
                if (partes.some(p => p.length < 3)) return 'Cada palavra deve ter no mínimo 3 letras'
                return true
            }

            function editar(item) {
                titleModal.value = 'Editar Contato'
                contato.id = item.id        // pega o id
                contato.nome = item.nome
                contato.numero_contato = item.numero_contato
                button.value = 'Salvar'
                dialog.value = true;
            }

            async function excluir(item) {
                try {
                    const response = await fetch(`http://localhost:3000/deleteUser/${item.id}`, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(contato)
                    });
                    console.log("Código HTTP:", response.status); // ex: 201, 400, 500

                    if (response.ok) {
                        carregarContatos();
                    } else {
                        const errorText = await response.json(); // ou response.json() se o backend retornar JSON
                        console.error("Erro ao salvar:", response.status, errorText);
                        alert(`Erro ${response.status}: ${errorText}`);
                    }
                } catch (error) {
                    console.error('Erro ao realizar requisição:', error)
                }
            }

            let formOk = ref(false)
            async function submitForm() {

                const { valid } = await form.value.validate()
                if (!valid) return
                console.log(form.value.valid)
                formOk.value = true;
                if (button.value === 'Adicionar') {
                    adicionaContato();
                } else {
                    editaContato(contato.id);
                }
            }

            async function adicionaContato(){
                try {
                    const response = await fetch("http://localhost:3000/adicionar", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(contato)
                    });
                    console.log("Código HTTP:", response.status); // ex: 201, 400, 500

                    if (response.ok) {
                        const data = await response.json();
                        console.log("Contato salvo:", data);
                        carregarContatos();
                        reset();
                        dialog.value = false;
                    } else {
                        const errorText = await response.json(); // ou response.json() se o backend retornar JSON
                        console.error("Erro ao salvar:", response.status, errorText);
                    }
                } catch (error) {
                    console.error('Erro ao realizar requisição:', error)
                }
            }

            async function editaContato(id) {
                try {
                    const response = await fetch(`http://localhost:3000/editarUser/${id}`, {
                        method: "PATCH",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            nome: contato.nome,
                            numero_contato: contato.numero_contato
                        })
                    });

                    console.log("Código HTTP:", response.status);

                    if (response.ok) {
                        const data = await response.json();
                        console.log("Contato atualizado:", data);
                        carregarContatos();
                        reset();
                        dialog.value = false;
                    } else {
                        const errorText = await response.json();
                        console.error("Erro ao editar:", response.status, errorText);
                        alert(`Erro ${response.status}: ${errorText}`);
                    }
                } catch (error) {
                    console.error("Erro ao realizar requisição:", error);
                }
            }


            function regexTelephone() {
                // Remove tudo que não é dígito
                let telefone = contato.numero_contato
                telefone = telefone.replace(/\D/g, '');

                telefone = telefone.replace(/^(\d{2})(\d)/, '($1) $2');
                telefone = telefone.replace(/(\d)(\d{4})$/, '$1-$2');
                contato.numero_contato = telefone;
            }

            // 🔹 Chama automaticamente quando o componente é montado
            onMounted(() => {
                carregarContatos()
            })

            return {
                headers,
                items,
                editar,
                excluir,
                dialog,
                titleModal,
                button,
                contato,
                criarContato,
                submitForm,
                form,
                reset,
                regexTelephone,
                validaNome,
                formOk
            }
        }
    })
        .use(vuetify)
        .mount('#app')
</script>
</body>

<style>
    .v-application {
        background: linear-gradient(to bottom, #F68E8E, #D3D3D3);
        font-family: 'Montserrat', sans-serif;
    }

    .list-item {
        background-color: #D9D9D9;
        width: 650px;
    }
</style>
</html>
